# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

kaam-ly-firebase.json

*.safetensors
worker/model/
__pycache__/
*.pyc
# Model weights / generated ML artifacts
*.safetensors
*.bin
*.pt
*.pth
*.ckpt
*.joblib
*.pkl

# Hugging Face generated/cache files
tokenizer.json
tokenizer_config.json
special_tokens_map.json
vocab.json
merges.txt


worker/model/ml_models
worker/model/task1
worker/model/recommendation_system
worker/model/task_classification
*.safetensors
__pycache__/
*.pyc
node_modules/
# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# =====================
# Python
# =====================
__pycache__/
*.pyc
*.pyo
*.pyd
env/
fastapi-env/
.venv/
*.env

# =====================
# Node / frontend
# =====================
node_modules/
dist/
vite-env.d.ts
package-lock.json
uv.lock

# =====================
# macOS
# =====================
.DS_Store

# =====================
# Project-specific
# =====================
uploads/worker/router/kaam-ly-firebase.json
worker/router/kaam-ly-firebase.json
worker/router/kaam-ly-firebase.json
