fastapi==0.135.1
uvicorn==0.42.0
pydantic==2.12.5
pydantic-settings==2.13.1
python-dotenv==1.2.2
python-multipart==0.0.22
email-validator==2.3.0

pymongo==4.16.0
motor==3.7.1

firebase_admin==7.2.0
google-cloud-firestore==2.25.0
google-cloud-storage==3.9.0
google-auth==2.49.1

cloudinary==1.44.1

httpx==0.28.1
requests==2.32.5
requests-toolbelt==1.0.0

fastapi-mail==1.6.2
aiosmtplib==5.1.0
aiofiles==25.1.0

APScheduler==3.11.2

bcrypt==5.0.0
argon2-cffi==25.1.0
passlib==1.7.4
python-jose==3.5.0
PyJWT==2.12.1
cryptography==46.0.5

numpy==2.4.3
pandas==3.0.1
joblib==1.5.3
scipy
scikit-learn

torch==2.10.0
torchvision==0.25.0
transformers==5.3.0
tokenizers==0.22.2
safetensors==0.7.0
huggingface_hub==1.7.1
hf-xet==1.4.2
tqdm==4.67.3

deepface==0.0.99
tensorflow==2.20.0
keras==3.13.2
tf_keras==2.20.1
mtcnn==1.0.0
retina-face==0.0.17
opencv-python==4.13.0.92
pillow==12.1.1

beautifulsoup4==4.14.3
filetype==1.2.0
RapidFuzz==3.14.3
regex==2025.11.3
PyYAML==6.0.3

google-genai==1.68.0
google-generativeai==0.8.6
langchain==1.2.12
langchain-core==1.2.19
langchain-google-genai==4.2.1
langgraph==1.1.2
langgraph-checkpoint==4.0.1
langgraph-prebuilt==1.0.8
langgraph-sdk==0.3.11
langsmith==0.7.20

orjson==3.11.7
websockets==16.0